<div class="animated fadeIn">
	
	<div class="row mx-alto-cuatro bg-decoracion-uno">
		
	</div>

	<section class="row">
		<div class="col-md-12 pt-3 pb-3">
			<h3>Proyectos</h3>
			<p class="justify-content-end">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis deserunt, beatae delectus incidunt laudantium ratione ipsam nulla, hic maxime voluptates accusamus iste illum alias ullam aperiam fugiat, sint harum cumque!
			</p>
		</div>
	</section>

	<section class="row pb-3">
		<aside class="col-md-2"></aside>
		<aside class="col-md-2">
			<img ng-src="{{'http://localhost/guidoulloa_backEnd/'+viewsData[0].url+'?ver='+timeView}}" data-ng-hide="uploader_uno.queue.length>0" class="card-img-top">
			<div ng-repeat="item in uploader_uno.queue" >
				<div ng-show="uploader_uno.isHTML5" ng-thumb="{ file: item._file, height: 100 }" add-class="card-img-top" ></div>
				<div class="progress" style="margin-bottom: 0;">
	                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
	            </div>
			</div>
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="validatedCustomFile" nv-file-select="" uploader="uploader_uno" required>
				<label class="custom-file-label" for="validatedCustomFile">
					<i class="fa fa-file"></i>
				</label>
			</div>
			<div class="btn-group">

				<a href="#" class="btn btn-primary mt-2" ng-click="storeFuncion(uploader_uno)" button-spinner="appDisabled" button-prepend="fa fa-paper-plane-o" >
					
				</a>

				<a href="#" class="btn btn-danger mt-2" ng-click="deleteFuncion(viewsData[0])" button-spinner="appDisabled" button-prepend="fa fa-trash" >
					
				</a>
			</div>
		</aside>

		<aside class="col-md-2">
			<img ng-src="{{'http://localhost/guidoulloa_backEnd/'+viewsData[1].url+'?ver='+timeView}}" data-ng-hide="uploader_dos.queue.length>0" class="card-img-top">
			<div ng-repeat="item in uploader_dos.queue" >
				<div ng-show="uploader_dos.isHTML5" ng-thumb="{ file: item._file, height: 100 }" add-class="card-img-top" ></div>
				<div class="progress" style="margin-bottom: 0;">
	                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
	            </div>
			</div>
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="validatedCustomFile" nv-file-select="" uploader="uploader_dos" required>
				<label class="custom-file-label" for="validatedCustomFile">
					<i class="fa fa-file"></i>
				</label>
			</div>
			<div class="btn-group">

				<a href="#" class="btn btn-primary mt-2" ng-click="storeFuncion(uploader_dos)" button-spinner="appDisabled" button-prepend="fa fa-paper-plane-o" >
					
				</a>

				<a href="#" class="btn btn-danger mt-2" ng-click="deleteFuncion(viewsData[1])" button-spinner="appDisabled" button-prepend="fa fa-trash" >
					
				</a>
			</div>
			
		</aside>

		<aside class="col-md-2">
			<img ng-src="{{'http://localhost/guidoulloa_backEnd/'+viewsData[2].url+'?ver='+timeView}}" data-ng-hide="uploader_tres.queue.length>0" class="card-img-top">
			<div ng-repeat="item in uploader_tres.queue" >
				<div ng-show="uploader_tres.isHTML5" ng-thumb="{ file: item._file, height: 100 }" add-class="card-img-top" ></div>
				<div class="progress" style="margin-bottom: 0;">
	                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
	            </div>
			</div>
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="validatedCustomFile" nv-file-select="" uploader="uploader_tres" required>
				<label class="custom-file-label" for="validatedCustomFile">
					<i class="fa fa-file"></i>
				</label>
			</div>
			<div class="btn-group">

				<a href="#" class="btn btn-primary mt-2" ng-click="storeFuncion(uploader_tres)" button-spinner="appDisabled" button-prepend="fa fa-paper-plane-o" >
					
				</a>

				<a href="#" class="btn btn-danger mt-2" ng-click="deleteFuncion(viewsData[2])" button-spinner="appDisabled" button-prepend="fa fa-trash" >
					
				</a>
			</div>
			
		</aside>

		<aside class="col-md-2">
			<img ng-src="{{'http://localhost/guidoulloa_backEnd/'+viewsData[3].url+'?ver='+timeView}}" data-ng-hide="uploader_cuatro.queue.length>0" class="card-img-top">
			<div ng-repeat="item in uploader_cuatro.queue" >
				<div ng-show="uploader_cuatro.isHTML5" ng-thumb="{ file: item._file, height: 100 }" add-class="card-img-top" ></div>
				<div class="progress" style="margin-bottom: 0;">
	                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
	            </div>
			</div>
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="validatedCustomFile" nv-file-select="" uploader="uploader_cuatro" required>
				<label class="custom-file-label" for="validatedCustomFile">
					<i class="fa fa-file"></i>
				</label>
			</div>
			<div class="btn-group">

				<a href="#" class="btn btn-primary mt-2" ng-click="storeFuncion(uploader_cuatro)" button-spinner="appDisabled" button-prepend="fa fa-paper-plane-o" >
					
				</a>

				<a href="#" class="btn btn-danger mt-2" ng-click="deleteFuncion(viewsData[3])" button-spinner="appDisabled" button-prepend="fa fa-trash" >
					
				</a>
			</div>
			
		</aside>
		<aside class="col-md-2"></aside>
	</section>

</div>